/* my responsive css */
/*===============================================
            Smart phone and tablets
===============================================*/
@media(max-width:320px) {
    .ban_text {
        padding: 20px;
    }
    .banner-ctn {
        font-size: 40px;
    }
    .mybanner {
        overflow: hidden;
        padding-bottom: 26px;
    }
    div#navbarTogglerDemo01 {
        padding-top: 24px;
    }
    .about-ctn p {
        font-size: 24px;
    }
    div#about {
        padding: 39px 0;
    }
}
@media(max-width:767px) {

    /*-- about --*/
    .about .my__img {
        padding-right: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .about .padding-left-25 {
        padding-left: 15px;
    }

    .about-column-parent {
        display: block;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .line.d-flex {
        margin: 0;
    }

    .about-clm {
        width: 100%;
    }

   

    .about-ctn {
        padding-top: 25px;
    }



    /* .banner-ctn h1 {
        font-size: 18px;
        max-width: 299px;
        line-height: 28px;
    } */

    .footer-menu {
        display: block;
        justify-content: center;
        padding-top: 45px;
    }

    .f-menu ul {
        padding: 0;
        font-size: 14px;
    }

    h1.heading1 {
        padding-top: 13px;
    }

    .footer-parent-column {
        display: block;
        padding: 40px 0;
        align-items: center;
        justify-content: space-between;
    }

    .footer-column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-location-1 {
        display: flex;
        justify-content: center;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /* .about-column img {
        height: 100%;
        max-width: 399px;
    } */

    .red-rectangle {
        background: linear-gradient(180deg,
                rgb(218, 0, 0) 29.41%,
                rgb(114.75, 0, 0) 100%);
        height: 44px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
    }

    .services-clm {
        display: block;
        text-align: center;
    }

    .serviceline.d-flex {
        justify-content: center;
        padding-top: 19px;
    }

    .rectangele-parent {
        padding-top: 42px;
    }
    .container, .container-sm {
        max-width: 1170px;
    }
    .logo img {
        height: 100%;
        width: 100%;
        max-width: 72px;
    }
    .modal-content {
        width: 92%;
    }
    .ban_text {
        padding: 20px;
    }
    .banner-ctn {
        font-size: 40px;
    }
    .mybanner {
        overflow: hidden;
        padding-bottom: 26px;
    }
    div#navbarTogglerDemo01 {
        padding-top: 24px;
    }
    .about-ctn p {
        font-size: 36px;
    }
    div#about {
        padding: 39px 0;
    }
}

@media(max-width:500px) {
    .modal-content {
        width: 92%;
    }
    /* .banner-ctn h1 {
        font-size: 18px;
        max-width: 299px;
        line-height: 28px;
    } */

    .footer-menu {
        display: block;
        justify-content: center;
        padding-top: 45px;
    }

    .f-menu ul {
        padding: 0;
        font-size: 14px;
    }

    h1.heading1 {
        padding-top: 13px;
    }

    .footer-parent-column {
        display: block;
        padding: 40px 0;
        align-items: center;
        justify-content: space-between;
    }

    .footer2-column {
        padding-top: 31px;
    }

    .footer-column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-location-1 {
        display: flex;
        justify-content: center;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .red-rectangle {
        background: linear-gradient(180deg,
                rgb(218, 0, 0) 29.41%,
                rgb(114.75, 0, 0) 100%);
        height: 44px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
    }

    .services-clm {
        display: block;
        text-align: center;
    }

    .serviceline.d-flex {
        justify-content: center;
        padding-top: 19px;
    }
    .banner-ctn {
        font-size: 40px;
    }

    .rectangele-parent {
        padding-top: 42px;
    }
    .container, .container-sm {
        max-width: 1170px;
    }
    .logo img {
        height: 100%;
        width: 100%;
        max-width: 72px;
    }
    /* .form-control {
        display: block;
        width: 76%;
        height: 20px;
        padding: 0px 9px;
        font-size: 13px;
        font-weight: 400;
        line-height: 33px;
        color: var(--bs-body-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    } */
  
    .ban_text {
        padding: 20px;
    }
    .mybanner {
        overflow: hidden;
        padding-bottom: 26px;
    }
    div#navbarTogglerDemo01 {
        padding-top: 24px;
    }
    div#about {
        padding: 39px 0;
    }
}


/*===============================================
            Small screen
===============================================*/

@media(min-width:768px) and (max-width:991px) {
    .modal-content {
        width: 92%;
    }

    /*-- about --*/
    .about .my__img {
        margin-bottom: 30px
    }

    .about .padding-left-35 {
        padding-left: 15px;
    }

    .about-column-parent {
        display: block;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .line.d-flex {
        margin: 0;
    }

    .about-clm {
        width: 100%;
    }
    .banner-ctn {
        font-size: 40px;
    }

    

    .about-ctn {
        padding-top: 25px;
    }
    .ban_text {
        padding: 20px;
    }

    /* .banner-ctn h1 {
        font-size: 25px;
        max-width: 376px;
        line-height: 40px;
        padding-top: 23px;
    } */

    .footer-menu {
        display: block;
        justify-content: center;
        padding-top: 45px;
    }

    .f-menu ul {
        padding: 0;
        font-size: 14px;
    }

    h1.heading1 {
        padding-top: 13px;
    }

    .footer-parent-column {
        display: block;
        padding: 40px 0;
        align-items: center;
        justify-content: space-between;
    }

    .footer2-column {
        padding-top: 31px;
    }

    .footer-column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-location-1 {
        display: flex;
        justify-content: center;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .red-rectangle {
        background: linear-gradient(180deg,
                rgb(218, 0, 0) 29.41%,
                rgb(114.75, 0, 0) 100%);
        height: 44px;
        text-align: center;
        width: 69%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
    }


    .rectangele-parent {
        padding-top: 42px;
    }
    .container, .container-sm {
        max-width: 1170px;
    }
    .logo img {
        height: 100%;
        width: 100%;
        max-width: 120px;
    }
    .mybanner {
        overflow: hidden;
        padding-bottom: 26px;
    }
    div#navbarTogglerDemo01 {
        padding-top: 24px;
    }
    div#about {
        padding: 39px 0;
    }
}


/*===============================================
            Medium screen
===============================================*/

@media(min-width:992px) and (max-width:1199px) {    
    /* .header-parent {
        display: none;
    } */

    .banner-ctn h1 {
        font-size: 54px;
        max-width: 540px;
    }

    .banner-ctn {
        font-size: 40px;
    }
    .footer2-column {
        padding-top: 31px;
    }

    .footer-column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-location-1 {
        display: flex;
        justify-content: center;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .red-rectangle {
        background: linear-gradient(180deg,
                rgb(218, 0, 0) 29.41%,
                rgb(114.75, 0, 0) 100%);
        height: 44px;
        text-align: center;
        width: 53%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
    }


    .rectangele-parent {
        padding-top: 42px;
    }
    .container, .container-sm {
        max-width: 1170px;
    }
    .logo img {
        height: 100%;
        width: 100%;
        max-width: 72px;
    }
    /* button.form1 {
        padding: 13px 10px;
        width: 76%;
    } */
    .ban_text {
        padding: 20px;
    }
    .mybanner {
        overflow: hidden;
        padding-bottom: 26px;
    }
    div#about {
        padding: 39px 0;
    }
}


/*===============================================
            Large screen
===============================================*/

@media(min-width:1200px) {

    .about h3 {
        margin-top: 30px;
    }


}

@media only screen and (max-width: 768px) {
    .group-30 {
        flex-direction: column;
    }

    .overlap-13,
    .footer-menu {
        min-width: auto;
    }

    .footer3-ctn img {
        margin-bottom: 10px;
    }

    .footer-parent-column {
        display: block;
        padding: 40px 0;
        align-items: center;
        justify-content: space-between;
    }

    .footer2-column {
        padding-top: 31px;
    }

    .footer-column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-location-1 {
        display: flex;
        justify-content: center;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .red-rectangle {
        background: linear-gradient(180deg,
                rgb(218, 0, 0) 29.41%,
                rgb(114.75, 0, 0) 100%);
        height: 44px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
    }

    .services-clm {
        display: block;
        text-align: center;
    }

    .serviceline.d-flex {
        justify-content: center;
        padding-top: 19px;
    }

    .rectangele-parent {
        padding-top: 42px;
    }
    .container, .container-sm {
        max-width: 1170px;
    }
    /* .banner-ctn h1 {
        font-size: 15px;
        max-width: 299px;
        line-height: 28px;
        padding-top: 50px;
    } */
    .ban_text {
        padding: 20px;
    }
  
    .banner-ctn {
        font-size: 35px;
    }
    .mybanner {
        overflow: hidden;
        padding-bottom: 26px;
    }
    div#about {
        padding: 39px 0;
    }
}