@import 'swiper/swiper-bundle.css';
*{
    margin: 0;
    padding: 0;
}
.about-column-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.about-ctn h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

/* .about-column img {
    height: 100%;
    max-width: 500px;
} */
.banner-ctn {
    max-width: 600px;
    color: white;
    font-size: 60px;
}
.about-ctn p {
    font-size: 13px;
    color: rgb(0, 0, 0);
    max-width: 420px;
    line-height: 23px;
}

.about-column {
    width: 50%;
}

.about-clm {
    width: 50%;
}

.abt-btn {
    padding-top: 60px;
}

.about-ctn span {
    color: #f4e723;
}

.us-img img {
    height: 100%;
    width: 100%;
    max-width: 440px;
}


.abt-parent {
    display: flex;
}

.us-parent {
    display: flex;
    padding-top: 120px;
    justify-content: center;
}

.about-menu li {
    list-style: none;
    position: relative;
}

.about-menu a {
    text-decoration: none;
}

.abt-us-column {
    width: 50%;
}

.us-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

section#about {
    padding: 100px 0;
}

.abt-heading {
    color: rgb(0, 0, 0);
}

.about-menu ul {
    line-height: 34px;
    font-size: 13px;
    max-width: 340px;
}

.about-menu {
    padding-top: 25px;
    margin-left: 40px;
}

.about-menu li::after {
    content: "";
    left: -49px;
    top: 3px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
}


button.btn {
    color: rgb(255, 255, 255);
    padding: 15px 53px;
    background: linear-gradient(180deg,
            rgb(218, 0, 0) 29.41%,
            rgb(114.75, 0, 0) 100%);
    border-radius: inherit;
    font-size: 20px;
}

button.btn:hover {
    color: white;
}
.about-ctn p {
    color: #000;
    /* font-family: "DM Serif Display"; */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    max-width: 640px;
    padding-bottom: 25px;
    line-height: 120%;
    text-transform: capitalize;
}

.line h1 {
    background: var(--red-gradient, linear-gradient(76deg, #DA0000 31.22%, #730000 89.78%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.line {
    gap: 14px;
}

.line.d-flex {
    margin-bottom: 70px;
}
/* 
button.btn {
    margin-top: 70px;
} */

.serviceline h1 {
    font-size: 20px;
    color: white;
    margin: 0 10px;
    font-weight: lighter;
}

button.service-btn {
    color: rgb(255, 255, 255);
    padding: 15px 53px;
    background: linear-gradient(180deg,
            rgb(218, 0, 0) 29.41%,
            rgb(114.75, 0, 0) 100%);
    border-radius: inherit;
    font-size: 20px;
    border: none;
}

.services-parent {
    background-color: #1F1F27;
    height: 1118px;
}

h1.heading {
    color: white;
    font-size: 2.5rem;
}

/* services rectangle column */
.col-sm {
    color: white;
}

.rectangle.col-sm {
    height: 350px;
    width: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border: 1px solid #1F1F27;
    text-align: center;
}

.rectangle {
    height: 340px;
    color: white;
    background-color: black;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.rectangele-parent {
    padding-top: 100px;
}




.rectangle:hover {
    background-color: red;
    background: linear-gradient(180deg,
            rgb(218, 0, 0) 29.41%,
            rgb(114.75, 0, 0) 100%);
}


.box {
    height: 470px;
    width: 100%;
    background-color: white;
    position: relative;
}



.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 97px;
    width: 85%;
    height: 100%;
    /* background-image: url(../src/assets/img/rectangle-16.png); */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.box::before {
    content: "";
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(../src/assets/img/rectangle-16.png); */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.seb-image {
    background-color: white;
    padding-top: 8%;
}
input#exampleInputEmail11 {
    padding: 17px;
    border-radius: unset;
}
.box {
    height: 470px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
section#pricing {
    padding-top: 100px;
} */

.pricing-heading h1 {
    color: rgb(0, 0, 0);
}

.pricing-ctn {
    text-align: center;
}

h1.pricing-heading {
    padding-top: 10px;
}

div#accordionFlushExample {
    padding-top: 20px;
}

button.accordion-button.collapsed {
    font-size: 16px;
    font-weight: 500;
}


/* testimonial */
.testimonial-parent {
    background-color: #FBFBF9;
    padding: 50px 0px;
}

section#testimonial {
    padding-top: 50px;
}

img.testimonial {
    max-width: 124px;
}

.testimonial-text {
    font-size: 24px;
}

p.card-text {
    font-size: 13px;
    max-width: 350px;
    padding-top: 25px;
    color: black;
}
/* testimonial */
.form-group {
    margin: 16px 0;
    width: 100%;
}
.col-md-12.col-lg-6.col-sm-12.about-column1 {
    display: grid;
    align-items: center;
}


/* .first-column1.col-md-5 {
    background-image: url(../../src/assets/img/subtract-3.png);
    background-repeat: no-repeat;
}
.first-column.col-md-7.col-sm-12.col-lg-7 {
    height: 800px;
    background-color: grey;
} */
button.btn a {
    text-decoration: none;
    color: white;
}
/* .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */

label {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 8px;
}


button.form.btn-primary {
    width: 100%;
    background-color: #2F54A1;
    padding: 8px 10px;
}

section#form {
    padding: 60px 0;
}

input#exampleInputEmail1 {
    padding: 18px 10px;
    border-radius: 0;
    border: 1px solid grey;
    font-size: 14px;
}

textarea#exampleFormControlTextarea1 {
    border: 1px solid grey;
}


.overlap-13 {
    color: white;
    background-color: #1F1F27;
}

.desktop .overlap {
    position: absolute;
    width: 1440px;
    height: 824px;
    top: 0;
    left: 0;
    background-color: #1f1f27;
}

.desktop .overlap-group {
    position: absolute;
    width: 1248px;
    height: 824px;
    top: 0;
    left: 192px;
}

.group-31 {
    height: 100%;
    justify-content: center;
    width: 100%;
    background-color: black;
    margin: 0 auto;
}

.sebi-parent {
    padding: 29px 36px;
}

p.SEBI-registered {
    display: flex;
}

.text-wrapper-14 {
    font-weight: lighter;

}

span.text-wrapper-14 {
    color: lightgrey;
}

/* .row {
    display: flex;
    justify-content: center;
} */

.menu-heading h1 {
    font-size: 20px;
}

.follow-heading h1 {
    font-size: 20px;
}

.extra-heading h1 {
    font-size: 20px;
}

.footer-menu a {
    text-decoration: none;
    color: white;
}

.footer-menu li {
    list-style: none;
}

.group-30 {
    overflow: hidden;
}

.footer-menu {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.f-menu {
    margin: 0 52px;
}

.heading {
    font-size: 20px;
}

.f-menu ul {
    padding: 0;
    padding-top: 8px;
    font-size: 14px;
}

.f-menu li {
    margin: 10px 0;
}

p.element-bhoomi-gardenia {
    max-width: 316px;
    margin: 0 auto;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner {
    padding: 1em;
}

img.card-img-top {
    width: 100%;
    height: 100%;
    max-width: 140px;
    margin: 0 auto;
    padding-top: 18px;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

p.element-bhoomi-gardenia {
    font-size: 12px;
    font-weight: lighter;
    max-width: 298px;
}

.footer3-column {
    padding-top: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
    color: white;
}

/* header css */
.header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 29px;
}

button.get-btn1 {
    color: rgb(255, 255, 255);
    padding: 15px 53px;
    background: linear-gradient(180deg,
            rgb(218, 0, 0) 29.41%,
            rgb(114.75, 0, 0) 100%);
    border-radius: inherit;
    font-size: 20px;
    border: none;
}
button.get-btn1 a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

.header-menu li {
    list-style: none;
    margin: 0 20px;
}

a.nav-link.active:hover {
    color: #a40000;
}

/* .header-section {
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px 0;
    z-index: 999;
} */
/* 
section.banner {
    position: relative;
} */

.banner-parent {
    color: white;
    height: 700px;
    padding: 178px 0;
}

.banner-ctn {
    max-width: 600px;
    color: white;
}
.mybanner{
    overflow: hidden;
}
.banner-ctn h1 {
    font-size: 60px;
}

.form-group {
    margin: 16px 0;
}

button.form1 {
    width: 100%;
}

button.form1.btn-primary {
    width: 100%;
    background-color: #2F54A1;
    padding: 8px 10px;
}

.form1 {
    width: 43%;
    padding: 8px 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.banner-image img {
    height: 100%;
    width: 43%;
    max-width: 340px;
}

.banner-image {
    text-align: end;
}

button.form1 {
    padding: 13px 10px;
}

.accordion-body {
    text-align: left;
}

.red-rectangle {
    background: linear-gradient(180deg,
            rgb(218, 0, 0) 29.41%,
            rgb(114.75, 0, 0) 100%);
    height: 36px;
    text-align: center;
    /* width: 40%; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}
li.nav-item a {
    color: black;
    font-size: 18px;
}
ul.d-flex.align-item-center {
    margin: 0;
} 

.carousel-indicators button.thumbnail {
    width: 100px;
}

.carousel-indicators button.thumbnail:not(.active) {
    opacity: 0.7;
}

.carousel-indicators {
    position: static;
}

button.carousel-control-prev {
    width: 18px !important;
}

button.carousel-control-next {
    width: 18px !important;
}

.col-md-2 li {
    list-style: none;
}


.col-md-2 li {
    list-style: none;
    margin: 13px 0;
    font-weight: 600;
}

.detail {
    color: red;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    display: grid;
    align-items: center;
}

button.read-more {
    background: none;
    border: none;
    color: red;
    font-weight: 400;
}

.stock-heading p {
    max-width: 345px;
}

.stock-heading {
    /* text-align: start; */
    font-size: 30px;
}
.card-body {
    flex: 1 1 auto;
}
.card {
    padding: 40px;
}
.card-body {
    padding: 0;
    margin: 0;
}
button.close {
    border: none;
    background: none;
}

.footer3-ctn.d-flex {
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.group-36 p {
    padding-top: 5px;
    line-height: 22px;
}

.footer3-ctn img {
    background-color: black;
    padding: 10px 10px;
    border-radius: 26px;
    height: 39px;
    width: 39px;
}

h5.card-title {
    color: black;
}

h1.heading1 {
    color: white;
    font-size: 20px;
}
.services-clm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

* {
    margin: 0;
    padding: 0;
}
.get-btn {
    text-align: end;
}
ul.d-flex.align-item-center {
    justify-content: center;
}
/* header */
.offcanvas-menu>label {
    top: 6px;
    right: 30px;
    position: absolute;
    width: 18px;
    height: 36px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
    transition: background 0.3s, transform 0.3s;
}

.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background: #000000;
}

.offcanvas-menu label span::before {
    transform: translateY(-12px);
}

.offcanvas-menu label span::after {
    transform: translateY(12px);
}

.offcanvas-menu nav {
    position: fixed;
    /* height: 100%; */
    width: 229px;
    top: 0;
    right: -350px;
    overflow: hidden;
    background: #ffffff;
    transition: 0.3s ease;
    padding: 40px 30px;
    z-index: 999999;
}

.offcanvas-menu nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas-menu nav>div a {
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-family: "Monoton", cursive;
    background: linear-gradient(-90deg, #49a4ed 30%, #3d00a9 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offcanvas-menu nav>div a i {
    font-size: 4rem;
    background: linear-gradient(120deg, #49a4ed 30%, #3d00a9 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offcanvas-menu nav>div label {
    width: 30px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.offcanvas-menu nav>div label span,
.offcanvas-menu nav>div label span:before,
.offcanvas-menu nav>div label span:after {
    background: #4d4d4d;
}

.offcanvas-menu nav>ul {
    /* margin-top: 30px; */
    counter-reset: nav-link-count;
    padding: 0;
}

.offcanvas-menu nav>ul li {
    cursor: pointer;
    padding: 10px 0;
    transform: translateX(-30px);
    opacity: 0;
    transition: 0.4s ease;
    counter-increment: nav-link-count;
    list-style: none;
}

.offcanvas-menu nav>ul li a {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    display: block;
    text-decoration: none;
}

.offcanvas-menu nav>ul li a::after {
    content: " : " counter(nav-link-count);
}

.offcanvas-menu nav>ul li:hover {
    animation: hover 0.5s;
}

.offcanvas-menu input[type="checkbox"] {
    display: none;
}

.offcanvas-menu input[type="checkbox"]:checked~label {
    opacity: 0;
    pointer-events: none;
}

.offcanvas-menu input[type="checkbox"]:checked~nav {
    right: 0;
}

.offcanvas-menu input[type="checkbox"]:checked~nav label span {
    background: transparent;
}

.offcanvas-menu input[type="checkbox"]:checked~nav label span:before {
    transform: rotate(-45deg);
}

.offcanvas-menu input[type="checkbox"]:checked~nav label span:after {
    transform: rotate(45deg);
}

.offcanvas-menu input[type="checkbox"]:checked~nav label span:before,
.offcanvas-menu input[type="checkbox"]:checked~nav label span:after {
    transition-delay: 0.2s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li {
    opacity: 1;
    transform: translateX(0px);
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(1) {
    transition-delay: 0.1s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(2) {
    transition-delay: 0.2s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(3) {
    transition-delay: 0.3s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(4) {
    transition-delay: 0.4s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(5) {
    transition-delay: 0.5s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(6) {
    transition-delay: 0.6s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(7) {
    transition-delay: 0.7s;
}

header.offcanvas-menu {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    z-index: 99999;
}

.logo-icon {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.icon-menu {
    position: relative;
    left: -80px;
}

.icon-menu a {
    color: black;
    text-decoration: none;
    margin-left: 22px;
    text-transform: uppercase;
}

.icon-menu a:hover {
    color: #9f5aed;
}

.services-parent {
    background-color: #1F1F27;
    height: 100%;
}

/* .pricing-parent {
    padding-top: 110px;
} */

.footer-end {
    height: 100px;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* jdcbhbvdsihbvchdsbvdc */
.footer-column {
    display: flex;
    align-items: center;
}


.footer-parent-column {
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: space-between;
}

.second-footer-icon ul {
    display: flex;
}

.second-footer-icon li {
    margin: 0 14px;
    list-style: none;
}

.second-footer {
    padding-top: 24px;
    border-top: 1px solid grey;
}

.footer-location-ctn {
    color: rgb(0, 0, 0);
    margin-left: 14px;
    font-size: 10px;
}

.footer-ctn {
    color: rgb(0, 0, 0);
    margin-left: 14px;
    font-size: 10px;
}

.second-footer-ctn {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.foot {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.second-footer-icon img {
    height: 100%;
    width: 100%;
    max-width: 23px;
    background-color: rgb(0, 0, 0);
    padding: 3px 8px;
    border-radius: 41px;
}

.service-img a {
    border: none !important;
    background-color: rgb(31 32 34 / 50%) !important;
    padding: 30px;
    height: 350px;
    display: flex !important;
    align-items: center;
}

.about-clm {
    width: 50%;
    display: grid;
    justify-content: center;
}

.foot-column-parent {
    display: flex;
    justify-content: space-between;
}

.footer-logo p {
    max-width: 370px;
    font-size: 14px;
}

.footer-location-1 a {
    border: 1px solid red;
    border-radius: 34px;
    text-align: center;
    margin: 0 5px;
    height: 50px;
    display: flex;
    width: 50px;
    justify-content: center;
    padding: 11px 11px;
    align-items: center;
}

.footer-location-1 {
    display: flex;
}

/* pricing */
.price-detail li {
    list-style: none;
    margin: 15px 0;
}
.bank-btn a {
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
}
.bank-btn  {
    color: rgb(255, 255, 255);
    padding: 10px;
    background: linear-gradient(180deg,
            rgb(218, 0, 0) 29.41%,
            rgb(114.75, 0, 0) 100%);
    border-radius: inherit;
    font-size: 16px;
    border: none;
    text-decoration: none;
}
.bank-read {
    padding-top: 11px;
}
.bank-read a {
    text-decoration: none;
    color: #c40000;
    font-weight: 500;
}
.price-detail li {
    list-style: none;
    margin: 15px 0;
    font-weight: 500;
}
.price-detail {
    text-align: start;
}
.gst {
    width: 100%;
    padding: 10px;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
}
.gst h5 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.price-detail li span {
    color: #c40000;
    font-weight: 500;
}

.fakeimg {
    height: 100%;
    background: #1f1f27;
    display: flex;
    justify-content: end;
}
.fakeimg.child {
    display: grid;
    justify-content: center;
    align-items: center;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    margin: 0 24px;
}
/* section#services {
    padding: 70px 0;
} */
.line.d-flex {
    margin-bottom: 43px;
}
div#about {
    padding: 100px 0;
}
section#services {
    padding: 60px 0;
}
.footer-menu a:hover {
    color: red;
}
.Privacypolicybtn{
    text-decoration: none;
    color: #000;
}